/* CSS para fijar el footer a la parte de abajo sin que interfiera en el contenido */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}
main {
	flex: 1;
}
/* FIN CSS para fijar el footer a la parte de abajo sin que interfiera en el contenido */

.btn-tx, .btn-group-tx > .btn {
	padding: 0rem 0.4rem !important;
	font-size: 0.875rem;
	line-height: 1.5;
	border-radius: 0.2rem;
}

.breadcrumb-sm {
	padding: 0.25rem 0.5rem !important;
	font-size: 0.8rem;
}